<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <div class="column">
    <label for="fallingSpeed">Falling Speed:</label>
    <input placeholder="1 - 10"  id="fallingSpeed" formControlName="fallingSpeed" type="number" (keydown)="allowOnlyPositiveIntegers($event)"/>
  </div>

  <div class="column">
    <label for="fallingFrequency">Falling Frequency (ms):</label>
    <input placeholder="100 - 5000"  id="fallingFrequency" formControlName="fallingFrequency" type="number" (keydown)="allowOnlyPositiveIntegers($event)"/>
  </div>

  <div class="column">
    <label for="playerSpeed">Player Speed:</label>
    <input placeholder="1 - 10"  id="playerSpeed" formControlName="playerSpeed" type="number" (keydown)="allowOnlyPositiveIntegers($event)"/>
  </div>

  <div class="column">
    <label for="gameTime">Game Time (sec):</label>
    <input id="gameTime" formControlName="gameTime" type="number" (keydown)="allowOnlyPositiveIntegers($event)"/>
  </div>

  <button *ngIf="!startClicked" type="submit">Start Game</button>
</form>